.col-md-2
  nav.nav-wrapper
    ul.nav.nav-list data-spy="affix"
      - data.styleguides.each do |styleguide|
        li
          a href="##{styleguide['classname']}"
            .nav-text data-color=styleguide['color']
              - if styleguide['name'] == 'NYCTA Graphics Standard Manual'
                | NYCTA Standards
              - else
                = styleguide['name']

section.section-full-height.first-section.text-center
  .first-section-vertical-center
    h1
      | UI Styleguides
      h2.text-uppercase a curated list of UI styleguides
    br
    div
      a href="https://twitter.com/kevinwuhoo" data-toggle="tooltip" data-placement="bottom" title="Follow me on Twitter @kevinwuhoo"
        i.fa.fa-twitter
      |&nbsp;&nbsp;&nbsp;
      a href="https://github.com/kevinwuhoo/ui-styleguides" data-toggle="tooltip" data-placement="bottom" title="Submit a pull request to suggest more styleguides on Github"
        i.fa.fa-github
  .scroll-down-arrow.text-center
    i.fa.fa-chevron-down

- data.styleguides.each do |styleguide|
  a href="#{styleguide['url']}" target='_blank'
    section.section-full-height.text-center id=styleguide['classname'] style="background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.8)), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(#{styleguide['img_path']})"
      .col-md-offset-2.col-md-10.text-center.text-v-center
        .section-site-name= styleguide['name']
        br
        .section-site-description= styleguide['description']

  hr
